@media (max-width: 759px) and (orientation: portrait) {

    #carte {
        height: 25em;
        /*width: 90%;*/
        margin: auto;
    }

    #details {
        /*
        margin: 5em auto 0 auto;
         */
        padding-bottom: 2%;
    }

    #details h3 {
        text-align: center;
    }

}

@media (max-width: 759px) and (orientation: landscape) {

    #carte {
        height: 20em;
        width: 90%;
        margin: 0 auto 10% auto;
    }

    #details {
        width: 100%;
        padding-left: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 759px){


    /* GENERAL */

    body {
        font-family: "Roboto", sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    i {
        color: rgba(91,174,209,0.7);
    }

    h1, h2, h3 {
        text-align: center;
        font-weight: 900;
    }

    h2 {
        font-weight: 400;
        font-style: italic;
        font-size: 1em;
    }

    .bleu {
        color: rgb(91,174,209);
    }

    #canvas {
        position: relative;
        border: 2px solid black;
        display: block;
        margin: 2% auto 2% auto;
    }

    #signature {
        display: none;
    }

    #erreur-signature {
        display: none;
        color: red;
        font-weight: 800;
    }

    /* DIAPO */

    #mockup {
        /*position: relative;
        background-color: #e5e5e5;
        padding: 2% 0 2% 0;*/
        display: none;
    }

    #mockup-phone {
        background-color: rgba(91,174,209,0.4);
        display: block;
    }

    /* RESERVATION */
    #reservation-section {
        margin-top: 5%;
    }

    /* CARTE */

    #carte h3 {
        margin: 0;
        padding: 0.4em;
        width: 40%;
        background-color: rgb(91,174,209);
        color: white;
        border-radius: 0 0% 0 0;
    }

    #googleMap {
        border: 2px solid rgb(91,174,209);
       /* width: 100%; */
        height: 80%;
    }

    /* DETAIL STATION */
    #details {
        color: rgb(91,174,209);
        border: 2px solid rgb(91,174,209);
        position: relative;

        -moz-box-shadow: 5px 5px 5px 0px #656565;
        -webkit-box-shadow: 5px 5px 5px 0px #656565;
        -o-box-shadow: 5px 5px 5px 0px #656565;
        box-shadow: 5px 5px 5px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #details-station {
        margin-left: 2%;
    }

    #details-station i {
        width: 5%;
    }

    #ma-super-croix {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }

    .fa-times-circle {
        color: red;
        cursor: pointer;
    }

    #details-station {
        text-transform: uppercase;
    }

    #infos-station i {
        width: 5%;
    }

    #infos-station p {
        color: black;
        margin: 8px 0;
        text-align: center;
    }

    #infos-station h3 {
        margin: 8px 0;
    }

    #infos-station #status-station {
        font-weight: bold;
        text-transform: uppercase;
    }

    #details button {
        border: none;
        margin-left: 2%;
        padding: 10px;
        background-color:rgb(91,174,209);
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
    }

    #details button:hover {
        border-bottom: 2px solid #3d8fd3;
    }

    #details h3 {
        text-align: center;
    }


    /* TIMER RESERVATION */
    #timer {
        text-align: center;
        font-weight: 800;
        width: 80%;
        margin: 5% auto ;
    }

    /* FOOTER / PIED DE PAGE */

    footer {
        width: 100%;
        font-size: 25px;
        margin: 2% auto;
        display: block;
        background-color: #DCDCDC;
        text-align: center;
        /*
        margin-left: 18%;
         */
        border-radius: 5px;
        padding-top: 5px;
        box-shadow: 0px 5px 10px #888888;
    }

    #timercouleur {
        color: green;
        font-weight: 800;
    }

    #stationcouleur {
        color: #3d8fd3;
        font-weight: 800;
    }

    #etat-reservation {
        font-size: 15px;
    }

}